<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href='@Url.Content("~/User/Home")'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='@Url.Content("~/User/EditProfile")'>Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href='@Url.Content("~/User/Logout")'>Logout</a>
            </li>
        </ul>
    </div>
</nav>
